h1 {
    font-family: "Arial";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    line-height: 20px;
    text-align: center;
}

#canvasContainter {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

canvas {
    width: 99.5%;
    height: 99.5%;
}

#demo {
    z-index: -3;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30% auto;
}

body {
    margin: 0px;
    position: relative;
}